.example-form {
    min-width: 150px;
    max-width: 500px;
    height: 100px;
    width: 100%;
  }
  
  .example-full-width {
    max-width: 300px;
    width: 100%;
  }

  .example-full-width input{
        width: 100%;
        padding: 10px;
  }